@font-face { 
    font-family: TitlingGothic; 
    src: url(TitlingGothicFBCond-Light.otf) format("opentype"); 
} 

.top-bar {
    height: 100px;
    padding-top: 25px;
    background: #231f20;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.top-bar ul {
    background: #231f20;
}

.top-bar ul.left a {
    background: #231f20;
    font-size: 20px;
}

.top-bar ul.left a:hover {
    text-decoration: none;
    background: #231f20;
}

.top-bar ul.right a {
    padding-right: 70px;
    background: #231f20;
    font-size: 20px;
}

.top-bar ul.right a:hover {
    //text-decoration: underline;
    background: #231f20;
}

.top-bar-section .right li {
    background: #231f20;
}

.top-bar-section li a:not(.button):hover {
    background: #231f20;
}

.link-with-arrow:hover {
    background: #231f20;
}

.link-with-arrow:after {
    position: relative;
    border-right: 18px solid transparent;
    border-top: 14px solid #231f20;
    border-left: 18px solid transparent;
    z-index: 9999;
    content: '';
    left: 20%;
    top: 35px;
}

.top-bar li.name h1 {
    font-size: 28px;
    padding-left: 30px;
}

body {
    color: white;
    font-family: TitlingGothic, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

body a {
    color: white;
}

body a:hover {
    color: white;
}

body li {
    list-style: none;
}

.modal {
    background: #231f20;
    position: fixed;
    z-index: 999;
    top: 100px;
    right: 60px;
    width: 400px;
    height: 500px;
    padding: 20px;
    opacity: 0.85;
    color: white;
    //overflow-y: scroll;
}

.modal .teams {
    overflow-y: scroll;
    height: 380px;
}

.modal .exit {
    position: absolute;
    right: 10px;
}

.modal .form {

}

.modal .form label {
    color: white;
    padding-bottom: 3px;
}

.modal input,textarea {
    color: white;
    background: #231f20;
    border: 1px solid white;
    width: 100%;
}

.modal .form input,textarea:focus {
    background: #231f20;
}

.modal .teams .team {
    padding-bottom: 10px;
}

.modal .teams .team:hover {
    cursor: pointer;
    opacity: 0.5;
}

.modal .teams .team .name{
    font-size: 18px;
    line-height: 26px;
}

.modal .teams .team .location{
    font-size: 16px;
    line-height: 24px;
}

.infoBox {
    font-family: TitlingGothic, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    background: #231f20;
    opacity: 0.85;
    width: 300px;
    padding: 0 10px 10px 10px
}

.infoBox h1 {
    font-family: TitlingGothic, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1.6875em;
    color: white;
    margin: 0px;
}

.infoBox p {
    font-family: TitlingGothic, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    margin-bottom: 3px;
}

.infoBox .close {
    position: absolute;
    right: 10px;
    bottom: 0px;
    cursor: pointer;
}

.infoBox img {
    display: none;
}

.infoBox .main {
    border-bottom: 2px solid white;
}

.infoBox:before {
    position: relative;
    border-right: 18px solid transparent;
    border-bottom: 14px solid #231f20;
    border-left: 18px solid transparent;
    z-index: 9999;
    content: '';
    right: -253px;
    top: -22px;
}
