@font-face { 
    font-family: TitlingGothicRegular; 
    src: url(TitlingGothicFBCond-Reg.otf) format("opentype"); 
} 

// body titles
@font-face { 
    font-family: TitlingGothicMedium; 
    src: url(TitlingGothicFBCond-Med.otf) format("opentype"); 
} 

// body text
@font-face {
    font-family: TitlingGothicNarrow;
    src: url(TitlingGothicFBNar-Reg.otf) format("opentype")
}

.top-bar {
    height: 100px;
    padding-top: 25px;
    background: #231f20;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    font-family: TitlingGothicRegular, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.top-bar h1 {
    font-family: TitlingGothicRegular, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.top-bar ul {
    background: #231f20;
}

.top-bar ul.left a {
    background: #231f20;
    font-size: 20px;
}

.top-bar ul.left a:hover {
    text-decoration: none;
    background: #231f20;
}

.top-bar ul.right a {
    padding-right: 50px;
    background: #231f20;
    font-size: 20px;
}

.top-bar ul.right a:hover {
    text-decoration: underline;
    background: #231f20;
}

.top-bar-section .left li h1 a {
    font-size: 34px;
}

.top-bar-section .right li {
    background: #231f20;
}

.top-bar-section li a:not(.button):hover {
    background: #231f20;
}

.link-with-arrow a {
    text-decoration: underline;
}

.link-with-arrow:hover {
    background: #231f20;
}

.link-with-arrow:after {
    position: relative;
    border-right: 18px solid transparent;
    border-top: 14px solid #231f20;
    border-left: 18px solid transparent;
    z-index: 9999;
    content: '';
    left: 20%;
    top: 35px;
}

.top-bar li.name h1 {
    font-size: 28px;
    padding-left: 30px;
}

body {
    color: white;
    font-family: TitlingGothicNarrow, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    line-height: 20px;
}

body label {
    color: white;
    font-family: TitlingGothicMedium, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

body a {
    color: white;
}

body a:hover {
    color: white;
}

body li {
    list-style: none;
}

.modal {
    background: #231f20;
    position: fixed;
    z-index: 999;
    top: 100px;
    right: 20px;
    width: 400px;
    //height: 500px;
    padding: 20px;
    opacity: 0.85;
    color: white;
    overflow-y: scroll;
}

.modal a:hover {
    cursor: pointer;
    opacity: 0.5;
}

.modal .teams {
    overflow-y: scroll;
    height: 600px;
}

.modal .team .name:hover {
    cursor: pointer;
    opacity: 0.5;
}

.modal .exit {
    position: absolute;
    right: 10px;
    bottom: -15px;
}

.modal.left {
    width: 550px;
    top: 100px;
    left: 38px;
}

.modal .about {
    overflow-y: scroll;
    height: 600px;
}


.modal .about .exit {
    position: absolute;
    right: 10px;
    bottom: -15px;
}

.modal .contact .exit {
    position: absolute;
    right: 10px;
    bottom: -15px;
}

.modal .form label {
    color: white;
    padding-bottom: 3px;
}

.modal input,textarea {
    color: white;
    background: #231f20;
    border: 1px solid white;
    width: 100%;
}

.modal .form input,textarea:focus {
    background: #231f20;
}

.modal .teams .team {
    padding-bottom: 15px;
}

.modal .teams .team .name {
    line-height: 1em;
}

div.infoBox {
    font-family: TitlingGothicNarrow, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    background: #231f20;
    opacity: 0.85;
    width: 300px;
    font-size: 15px;
    padding: 0 10px 20px 10px
}

.infoBox label {
    font-size: 15px;
    font-family: TitlingGothicMedium, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    margin-bottom: 3px;
    font-size: 16px;
}

.infoBox a {
    font-size: 15px;
}

.infoBox a:hover {
    cursor: pointer;
    opacity: 0.5;
}

.infoBox p {
    font-size: 15px;
}

.infoBox li {
    font-size: 15px;
}

.infoBox .close {
    position: absolute;
    right: 10px;
    bottom: -15px;
    cursor: pointer;
}

.infoBox img {
    display: none;
}

.infoBox .main {
    border-bottom: 1px solid white;
}

.infoBox:before {
    position: relative;
    border-right: 18px solid transparent;
    border-bottom: 14px solid #231f20;
    border-left: 18px solid transparent;
    z-index: 9999;
    content: '';
    right: -253px;
    top: -28px;
}
