<div class="modal">
  <div class="about" ng-controller="AboutCtrl">
    <label>ABOUT</label>
      <p>
        Organized by the Heartbeats Jump Rope Team in Cleveland, Ohio, Jumpers United for Macy’s Parade (J.U.M.P.) is comprised of over 200 hundred jump rope athletes representing 45 teams from 21 states throughout the nation. Jump Rope is a competition sport that has been featured on television in ESPN Sports, Fox Sports, many sports venues and most recently with the Chicago Boys performing jump rope on NBC’s “America’s Got Talent.” This is the second time in the Macy’s Thanksgiving Day Parade, as 140 jumpers, from teams across the country, appeared in the 2009 Parade.
      </p>

      <p>
        Jumpers will arrive in the Big Apple on November 26 with much anticipation and excitement for the Parade. It will be the first time all 200 jumpers are together, not to sightsee or shop, but to practice. Jumpers will be performing many tricks and skills in unison as they jump their way along the parade route to the delight of visitors and New Yorkers who will line the streets 20 deep and fill windows and balconies along the streets overhead. 
      </p>

      <p>
        Starting from Central Park, the athletes will be jumping the entire 2.5 mile course that winds through New York City in front of a spectator crowd that is usually over 3.5 million people. To jump the entire distance, the athletes have to be in top condition. Months of practice will culminate with the cadenced steps that will be seen across the country live from New York City.
      </p>

      <p>
        After arriving in at the fabled Herald Square, the group will be featured in a live one-minute segment broadcast on NBC national television with an estimated 50 million viewers. This choreographed TV routine, built around a group of 72 athletes performing a complex inter-connected matrix of jumpers, will include national and world jump rope champions. This group traveled to Cleveland, Ohio for a weekend practice in September, where they spent the three days in intense rehearsals to synchronize their movements and interaction.
      </p>

      <p>
        Coach Pam Evans of the Heartbeats team submitted the application to Macy’s for the Parade participation.  This is a very competitive selection process, where only a very few performance groups are added to the Parade each year by Macy’s. Members of the Heartbeats team designed and choreographed both the routine for the Parade route and the NBC one-minute live television segment from Herald Square.
      </p>

      <p>
        Athletes were invited from jump rope teams across the country to join the ensemble, each paying their own way to New York City. Included in the group will be many athletes who have earned recognition as national and international champions. All of the athletes have been practicing for months in their local community with their team to learn the routines, and prepare and build their endurance for the Parade.
      </p>

      <p>
        Members of J.U.M.P. are male and female, ranging from 12 to 26 years old.  Jump Rope routines feature gymnastics and dance moves, all done while jumping a rope. Athletes build great foot skills, tremendous upper body strength, powerful endurance, and superior coordination.
      </p>

      <p>
        Broadcast nationally by NBC, this is the official kick-off to the holiday season. Be sure to tune in at 9:00 a.m. (EST) on Thanksgiving Day morning and watch the J.U.M.P. athletes from all across the nation in the Macy’s Parade. 
      </p>
  
    <label>MEDIA</label>
    <li><a href="https://www.facebook.com/pages/Macys-Parade-2013-Jump-Rope-Participants/94564562846">Facebook</a></li>
    <li>#jumpmacysparade</li>

    <br>
  
    <label>PERFORMANCE UNIFORMS</label>
    <p><a href="http://quiyk.com/">Quiyk</a></p>
  
    <label>DESIGN</label>
    <p><a href="http://www.websiteforgreg.com/">Greg Evans</a></p>

    <label>DEVELOPMENT</label>
    <p><a href="http://www.neosavvy.com">Neosavvy</a></p>

  </div>
  <p class="exit"><a ui-sref="map">x</a></p>
</div>
