<div class="modal">
  <form class="form contact" name="form" ng-controller="ContactCtrl as contactCtrl">
    <label>Name</label>
    <input type="text" ng-model="contact.name" required>

    <label>Email</label>
    <input type="email" ng-model="contact.email" required>

    <label>Phone</label>
    <input type="tel" ng-model="contact.phone">

    <label>Message</label>
    <textarea ng-model="contact.message"></textarea>

    <input ng-click="contactCtrl.submit(form.$valid)" type="submit" value="Send">

    <p class="exit"><a ui-sref="map">x</a></p>
  </form>
</div>
