<div class="modal">
  <p>
    For more information about J.U.M.P. please contact:
  </p>

  <li>
    Pam Evans, Head Coach
  </li>
  <li>
    <a href="mailto:messageforpam@gmail.com">messageforpam@gmail.com</a>
  </li>
  <li>
    +1 440 572 3292
  </li>

  <br>
  
  <p>
    To learn more about how to get involved in the sport of Jump Rope, check the List View of teams to find a jump rope team closest to you. You can also find out more by visiting the websites of domestic and international Jump Rope organizations:
  </p>

  <label>DOMESTIC</label>
  <li><a href="http://www.aaujumprope.org/">AAU Jump Rope</a></li>
  <li><a href="http://www.nationaldoubledutchleague.com/">National Double Dutch League</a></li>
  <li><a href="http://usajumprope.org/">USA Jump Rope</a></li>

  <br>
  

  <label>INTERNATIONAL</label>
  <li><a href="http://www.fisac-irsf.erso.info/">International Rope Skipping Federation</a></li>
  <li><a href="http://worldjumprope.org/">World Jump Rope</a></li>
</div>
