<div class="modal">
  <div class="list" ng-controller="ListCtrl as listCtrl">
    <div class="search form">
      <input type="search" ng-model="searchText" placeholder="Search..." autofocus>
    </div>
    <hr>
    <div class="teams">
      <div class="team" ng-click="listCtrl.centerMap(team)" ng-repeat="team in teams | filter:searchText">
        <label class="name">{{team.name}}</label>
        <li class="location">{{team.location.city}}, {{team.location.state}}</li>
      </div>
    </div>
  </div>

  <p class="exit"><a ui-sref="map">x</a></p>
</div>
