<div class="modal left">
  <div class="main">
    <p>
      Happy Thanksgiving!
      Organized by the Heartbeats Jump Rope Team in Cleveland, Ohio, Jumpers United for Macy’s Parade (J.U.M.P.) is comprised of over 200 hundred jump rope athletes representing 45 teams from 21 states throughout the nation. This will be the second time J.U.M.P. athletes participate in the Macy’s Thanksgiving Day Parade, as 140 jumpers, from teams across the country, also appeared in the 2009 Parade.
    </p>

    <p>
      On this site, you can explore the map that locates each of the represented teams. When one of the markers is selected, you will find more information about the team as well as a main contact. Feel free to get in touch with any of the teams to learn more, find out about ways to get involved with your local team, or even schedule a performance or workshop. Other information on the site will lead you to national and international Jump Rope organizational websites, social networks, and direct J.U.M.P. contact information.
    </p>

    <p>
      Broadcast nationally by NBC, this is the official kick-off to the holiday season. Be sure to tune in at 9:00 a.m. (EST) on Thanksgiving Day morning and watch the J.U.M.P. athletes from all across the nation in the Macy’s Thanksgiving Day Parade.
    </p>

    <p>
      We couldn’t be more excited to share the sport of Jump Rope with millions of people all over the world. From all of us in J.U.M.P., we wish everyone and their families the happiest holidays and all the best in the new year!</div>
    </p>
  <p class="exit"><a ui-sref="map">x</a></p>
</div>
