<script type="text/ng-template" id="popupTemplate.html">
  <div class="infobox-wrapper">
    <div class="main">
      <label>{{name}}</label>
      <p>{{location}}</p>
    </div>
  
    <div class="contact">
        <li>Contact:</li>
        <li>{{contact.name}}</li>
        <li><a href="mailTo:{{contact.emailT}">{{contact.email}}</a></li>
        <li>{{contact.tel}}</li>
        <li><a href="http://{{contact.url}}">{{contact.url}}</a></li>
    </div>
    <p class="close" ng-click="close()">x</p>
  </div>
</script>
